{% extends "base.html" %}
{% block content %}

<div class="main-content" id="panel">
    <div class="header pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 main-title d-inline-block mb-0">Memori Analytics</h6>
              <h6 class="text-uppercase ls-1 mb-1">View All Story</h6>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col-md-6">
                  <h5 class="mb-0 thick-heading text-left">All Story</h5>
                  Showing all Story, since tracking started
                </div>
              </div>
            </div>
            <div class="table-responsive-sm">
              <!-- Projects table -->
              <table id="posts_table" class="table table-striped align-items-center table-sm fixed-table table-hover">
                <thead>
                  <tr>
                    <th scope="col" style="width: 1%">No</th>
                    <th scope="col">Timestamp</th>
                    <th scope="col" style="width: 5%">Impressions</th>
                    <th scope="col" style="width: 5%">Reach</th>
                    <th scope="col" style="width: 5%">Taps Forward</th>
                    <th scope="col" style="width: 5%">Taps Back</th>
                    <th scope="col" style="width: 5%">Exits</th>
                    <th scope="col" style="width: 5%">Replies</th>
                    <th scope="col" style="width: 5%">Total</th>

                  </tr>
                </thead>
                <tbody>
                  {% if allStory %}
                  {% set count = namespace(value=1) %}
                  {% for post in allStory %}
                  <tr>
                    <td>
                      {{ count.value }}
                      {% set count.value = count.value + 1 %}
                    </td>
                    <td>
                      <b>{{ moment(post.timestamp).format('LL') }}</b><br>
                        {{ moment(post.timestamp).format('hh:mm A') }}
                    </td>
                    <td>
                      {{post.count_impressions }}
                    </td>
                    <td>
                      {{post.count_reach }}
                    </td>
                    <td>
                      {{post.count_tapsforward}}
                    </td>
                    <td>
                      {{post.count_tapsback}}
                    </td>
                    <td>
                      {{post.count_exits}}
                    </td>
                    <td>
                      {{post.count_replies}}
                    </td>
                    <td>
                      {{ post.count_exits + post.count_tapsback + post.count_tapsforward  }}
                    </td>

                  {% endfor %}
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

{% endblock %}