
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/index.css" />
    <link rel="stylesheet" href="../static/argon.css" />
    <link rel="shortcut icon" href="../static/favicon.ico">
    {% if title %}
    <title>{{ title }} - Memori Analytics</title>
    {% else %}
    <title>Memori Analytics!</title>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
    integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous">
    </script>
    <script src="https://use.fontawesome.com/027ece2474.js"></script>
    <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
    rel="stylesheet">
    {{ moment.include_moment() }}
    <script>
        $(document).ready(
          function () {
            $("#thumbnail-toggle").click(function () {
              if ($('.content_section').css("display") == "block") {
                $(".content_section").css({
                  "display": "none"
                });
              } else {
                $(".content_section").css({
                  "display": "block"
                });
              }
              console.log("clicked")
            });
          })
    </script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.22/b-1.6.4/b-colvis-1.6.4/b-html5-1.6.4/cr-1.5.2/r-2.2.6/sp-1.2.0/datatables.min.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.22/b-1.6.4/b-colvis-1.6.4/b-html5-1.6.4/cr-1.5.2/r-2.2.6/sp-1.2.0/datatables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#posts_table').DataTable({
                paging: false,
                buttons: [
                    'copy', 'excel', 'pdf'
                ],
            });
        } );
    </script>
    <script src="https://d3js.org/d3.v6.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script>
        d3
        .csv('../static/allcases.csv')
        .then(makeChart);

        function makeChart(data) {
            var country = data.map(function(d) {return d.province;});
            var value = data.map(function(d) {return d.cumulative_cases;});
            new Chart(document.getElementById("myCanvas"), {
                type: 'line',
                // The data for our dataset
                data: {
                    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                    datasets: [{
                        label: 'My First dataset',
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: [0, 10, 5, 2, 20, 30, 45]
                    }]
                },

                // Configuration options go here
                options: {}
            });
        }
    </script>
    
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="../static/memori.png" class="navbar-brand-img" alt="memori_logo"  width="160" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class='{{"nav-link active" if title == "Home" else "nav-link"}}' href="/">
                <i class="ni ni-tv-2 text-primary"></i>
                <span class="nav-link-text">Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a class='{{"nav-link active" if title == "Posts" else "nav-link"}}' href="/allposts">
                <i class="ni ni-tv-2 text-primary"></i>
                <span class="nav-link-text">All Posts</span>
                </a>
            </li>
            <li class="nav-item">
                <a class='{{"nav-link active" if title == "Story" else "nav-link"}}' href="/allstory">
                <i class="ni ni-tv-2 text-primary"></i>
                <span class="nav-link-text">All Story</span>
                </a>
            </li>
            <li class="nav-item">
                <a class='{{"nav-link active" if title == "Daily Stats" else "nav-link"}}' href="/dailystats">
                <i class="ni ni-tv-2 text-primary"></i>
                <span class="nav-link-text">Daily Stats</span>
                </a>
            </li>
            <li class="nav-item">
                <a class='nav-link active' href="https://mjkanalytics.herokuapp.com/">
                <span class="nav-link-text"><b>Mirath Analytics</b></span>
                </a>
            </li>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <footer class="footer pt-0 ">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6">
                <div class="copyright text-center  text-lg-left  text-muted">
                    &copy; 2020 Memori
                </div>
            </div>
        </div>
    </footer>
</div>
</div>
</body>

</html>