{% extends "base.html" %}
{% block content %}

  <!-- Main content -->
  <div class="main-content" id="panel">
    <!-- Header -->
    <div class="header pb-6 min-vh-100">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            
            <div class="col-lg-6 col-7">
              <h6 class="h2 main-title d-inline-block mb-0">Memori Analytics</h6>
              <h6 class="text-uppercase ls-1 mb-1"><b>Error</b></h6>
            </div>
          </div>
        </div>
{% endblock %}